{% extends 'base.html' %}
{%load static%}
{% block title %}Населенные пункты{% endblock %}

{% block content %}
<div  class="container">
    
   <div class="row">
        <div class="col-md-4 mx-auto left">
           
            <form class="update-data-form" action="" method="post">{% csrf_token %}
                {{form.as_p}}
          
                <button type="submit" class='btn btn-success ' >Сохранить</button>
            </form>
               
    
        </div>
    </div>
    
</div>
{% endblock %}


