{% extends 'base.html' %}
{%load static%}
{% block title %}Подписаться{% endblock %}

{% block content %}
<div  class="container">
   <div class="row">
        <div class="col-md-10 mx-auto "> 
        <h2>Подписаться на рассылку</h2>
        <hr>
        </div>
    </div>
   <div class="row">
        <div class="col-md-4 mx-auto ">
           
            <form class="update-data-form" action="" method="post">{% csrf_token %}
                {{form.as_p}}
          
                <button type="submit" class='btn btn-success ' >Сохранить</button>
                
            </form>
               
    
        </div>
    </div>
   <div class="row">
        <div class="col-md-8 mx-auto text-left">
           
            <h4>Если в списке нет нужного Вам города или специальности, Вы можете заполнить <a href="{% url 'contact' %}"> форму </a> с Вашими пожеланиями. После того, как необходимые город и специальность будут добавленны администратором, на указанный Вами и-мэйл автоматически начнут приходить письма с вакансиями.</h4>
               
    
        </div>
    </div>
    
</div>
{% endblock %}


